<!DOCTYPE html>
<html>
  <head>
    <title>NrelSolar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= form_tag :locations, method: :get, class:"location-search" do %>
      <%= text_field_tag :address, class: "input address" %>
      <%= submit_tag "Find Local Energy Data" %>
    <% end %>
    <%= yield %>
  </body>
</html>
