<!DOCTYPE html>
<html>
  <head>
    <title>NrelSolar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <div class="form-group mx-sm-3 mb-2">
        <%= form_tag :property, method: :get, class: "location-search" do %>
          <%= label_tag :address, "Search for", class: "sr-only", placeholder: "Address" %>Enter Address
          <%= text_field_tag :address %>
          <%= submit_tag "Find Local Energy Data", class:"btn btn-success mb-2" %>
        <% end %>
      </div>
    <%= yield %>

  </body>
</html>
